.DS_Store
.pytest_cache
venv
__pycache__
node_modules/
*.webm
*.mp4

.env
.env.local
.env.*.local
.secrets
config.json
envBotData.ts

**/.next/
/src/bots/screenshot.png
src/terraform-do/environments/dev/terraform.tfvars

*.terraform.lock.hcl
*.terraform/